# fly.toml app configuration file generated for relvanta-api on 2026-02-02T23:18:16+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'relvanta-api'
primary_region = 'arn'

[env]
  PYTHON_ENV = "production"

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
